<%- include("../includes/header.ejs", {title:"Account"}); %>
<h1>Account</h1>
<ul>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>User email: <%= result[0].email %></li>

    <li>Skills:
        <ul>
            <% for(var i=0; skills.length > i; i++ ) { %>
            <li><%= skills[i].skill_name + ': ' + skills[i].description %></li>
            <% } %>
        </ul>
    </li>

    <li>Companies:
    <ul>
        <% for(var i=0; companies.length > i; i++ ) { %>
        <li><%= companies[i].company_name %></li>
        <% } %>
    </ul>
    <li>Schools (gpa):
    <ul>
        <% for(var i=0; schools.length > i; i++ ) { %>
        <li><%= schools[i].school_name %> - <%= schools[i].gpa %></li>
        <% } %>
    </ul>

</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>