<%- include("../includes/header.ejs", {title: "Update " + resume[0].resume_name}); %>

<h1>Update <%= resume[0].resume_name%></h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= resume[0].resume_name%> was successfully saved. %>
    </div>
</div>
<% }%>

<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume[0].resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume[0].resume_name%>"/>
    <br />
    <br />
    Skills <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skills.length > i; i++ ) {
            var selected = "";

            if(skills[i].skill_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= skills[i].skill_id %>" <%= selected %> ><%= skills[i].skill_name + ': ' + skills[i].description %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />
    <br />
    Companies <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; companies.length > i; i++ ) {
            var selected = "";

            if(companies[i].company_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= companies[i].company_id %>" <%= selected %> ><%= companies[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    <br />
    Schools <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; schools.length > i; i++ ) {
            var selected = "";

            if(schools[i].school_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= schools[i].school_id %>" <%= selected %> ><%= schools[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    <br />

    <input type="submit" />

    <br />
    <br />
    <a href="/resume/all">BACK TO RESUMES LIST</a>

</form>

<%- include("../includes/footer.ejs"); %>

</html>