<%- include("../includes/header.ejs", {title:"Company - View All"}); %>

<h1>Resumes</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Resume: [ <%= resume %> ] was successfully edited. %>
    </div>
</div>
<% }%>

<a href="/resume/add/selectuser">Add New Resume</a> <br />

<br />

<table border="1">
    <tr><th>Full Name</th><th>Resume Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td> <%= result[i].first_name %>  <%= result[i].last_name %> </td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].resume_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>&account_id=<%= result[i].account_id %>'">Edit</button>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</br><a href="/"> BACK TO MAIN </a></br>
<%- include("../includes/footer.ejs"); %>