<%- include("../includes/header.ejs", {title:"Resume"}); %>
<h1>Resume: <%= result[0].resume_name %> </h1>
<ul>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>User email: <%= result[0].email %></li>

    <li>Skills:
        <ul>
            <% for(var i=0; skills.length > i; i++ ) { %>
            <li><%= skills[i].skill_name + ': ' + skills[i].description %></li>
            <% } %>
        </ul>
    </li>

    <li>Companies:
        <ul>
            <% for(var i=0; companies.length > i; i++ ) { %>
            <li><%= companies[i].company_name %></li>
            <% } %>
        </ul>
    <li>Schools:
        <ul>
            <% for(var i=0; schools.length > i; i++ ) { %>
            <li><%= schools[i].school_name %></li>
            <% } %>
        </ul>

</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>