<%- include("../includes/header.ejs", {title: "Update " + school.school_name}); %>

<h1>Update: <%= school.school_name%></h1>
<form action="/school/update" method="get">
    <input type="hidden" id="school_id" name="school_id" value="<%= school.school_id %>">
    School Name: <input id="school_name" name="school_name" type="text" value="<%= school.school_name%>"/>
    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>